{% extends 'base.html' %}

{% block title %}<title>Card Database</title>{% endblock title %}

{% block content %}
<form id="searchform" action="{% url 'card_list' %}" method="GET" accept-charset="utf-8">
  <button class="searchbutton" type="submit">
    <i class="fa fa-search" aria-hidden="true">GO</i>
  </button>
  <input class="searchfield" id="searchbox" name="query" type="text" placeholder="Search for a card">
</form>

<table class="cardItemTable table-striped table-hover">
  {% for card in card_list %}
    <tr class="cardItem">
      <td class="addremovecolumn">
        <a href="{% url 'collection_add' card.id %}" class="btn btn-warning">Add</a>
        <p><input class="collectioncardqty" type="number" value="Hi"></p>
        <a href="{% url 'collection_remove' card.id %}" class="btn btn-warning">Remove</a>
      </td>
      <td class="leftcolumn">
        <a href="{% url 'card_detail' card_slug=card.slug %}">
          <img src="{{ card.image_url }}" width="95" height="132">
        </a>
      </td>
      <td class="midcolumn">
        <p><a href="{% url 'card_detail' card_slug=card.slug %}">{{ card.name }}</a></p>
        <p>{{ card.set_name }}</p>
        <p>{{ card.type }} {% if card.power and card.toughness %} ({{ card.power }}/{{ card.toughness }}){% endif %}</p>
        <p>{{ card.text }}</p>
      </td>
      <td class='rightcolumn'>
        <div>
          <div class="carditemset">
            <a href="">{{ card.set }}</a>
          </div>
          <div>
            <div>
              <p>Other Versions</p>
            </div>
            <div>
              {% for printing in card.printings %}
                {{ printing }}
              {% endfor %}
            </div>
        </div>
        </div>
      </td>
    </tr>
  {% empty %}
    <tr>
      <p>No cards are available with these options.</p>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
