{% extends 'base.html' %}

{% load static %}

{% block title %} <title>Card Database</title> {% endblock title %}

{% block css %}
  {{ block.super }}
{% endblock css %}

{% block pagination %}
  {% include 'core/utils/pagination.html' %}
{% endblock %}

{% block content %}
<form id="searchform" action="" method="GET" accept-charset="utf-8">
  <button class="searchbutton" type="submit">
    <i class="fa fa-search" aria-hidden="true">GO</i>
  </button>
  <input class="searchfield" id="searchbox" name="query" type="text" placeholder="Search for a card">
</form>
<p>Number of results: {{ page_obj|length }}</p>

<table id="card-list" class="table-striped table-hover">
  {% for card in page_obj %}
    <tr class="card-list-item">
      <td class="card-add-remove-column">
        <!-- <a href="{% url 'collection:collection_add' card.id %}" class="btn btn-warning">+</a>
        <p><input class="collectioncardqty" type="number"></p>
        <a href="{% url 'collection:collection_remove' card.id %}" class="btn btn-warning">-</a> -->
      </td>
      <td class="card-image-column">
        <a href="{% url 'db:card_detail' card_slug=card.slug %}">
          <img src="{{ card.image_url }}">
        </a>
      </td>
      <td class="card-info-column">
        <h2><a href="{% url 'db:card_detail' card_slug=card.slug %}" class="magic-font">{{ card.name }}</a></h2>
        <p>{{ card.set_name }}</p>
        <p>{{ card.type }} {% if card.power and card.toughness %} ({{ card.power }}/{{ card.toughness }}){% endif %}</p>
        <p>{{ card.text }}</p>
      </td>
      <td class='card-other-sets-column'>
        <div>
          <div class="carditemset">
            <a href="{% url 'db:card_detail' card_slug=card.slug %}">
              {{ card.set }}
            </a>
          </div>
          {% if card.other_printings %}
          <div>
            <div>
              <p>Other Versions</p>
            </div>
            <div>
              {% for card in card.other_printings %}
                <a href="{% url 'db:card_detail' card_slug=card.slug %}">
                  {{ card.set }}
                </a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </td>
    </tr>
  {% empty %}
    <tr>
      <p>No cards are available with these options.</p>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
