{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>{{ request.user }}'s Collection</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div>
      <p>PLACEHOLDER FOR FILTER TOOLBAR</p>
      <p>{{ request.user }} request.user</p>
      <p>{{ request.user.collection }} request.user.collection</p>
      <p>{{ collection.owner }} collection.owner</p>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Image</th>
          <th>Card</th>
          <th>Quantity</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for card in collection.cards.all %}
          <tr>
            <td>
              <a href="{{ card.get_absolute_url }}">
                <img src="{% if card.image_url %} {{ card.image_url }} {% else %} No Image {% endif %}" alt="..." width="95" height="132">
              </a>
            </td>
            <td>
              {{ card.name }}
            </td>
            <td>
              {% for collcard in card.collectioncards_set.all %}
                {{ collcard.count }}
              {% endfor %}

              <form action="{% url 'collection_add' card.id %}" method="POST">
                {% csrf_token %}
                  <p>{{ form.count }}</p>
                <input type="submit" value="Update" class="btn btn-info">
              </form>
            </td>
            <td>
              <a href="{% url 'collection_remove' card.slug %}">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
