{% extends 'base.html' %}


{% block content %}
  <h1>{{ expansionset.name }}</h1>
  <div class="setDetailContainer">
  <table class="setDetail">
    <tbody>
    <tr>
      <td>
        {% if expansionset.image_url %}<img src="{{ expansionset.image_url }}" alt="Image of card {{ expansionset.name }}">{% endif %}
      </td>
      <td>
        {% if expansionset.booster %}<p><strong>Booster Layout:</strong>{{ expansionset.booster }}</p>{% endif %}
        {% if expansionset.border %}<p><strong>Border:</strong> {{ expansionset.border }}</p>{% endif %}
        {% if expansionset.block %}<p><strong>Block:</strong>  {{ expansionset.block }}</p>{% endif %}
        {% if expansionset.code %}<p><strong>Code:</strong> {{ expansionset.code }}</p>{% endif %}
        {% if expansionset.gatherer_code %}<p><strong>Gatherer Code:</strong> {{ expansionset.gatherer_code }}</p>{% endif %}
        {% if expansionset.magic_cards_info_code %}<p><strong>Magic Card Info Code:</strong> {{ expansionset.magic_cards_info_code }}</p>{% endif %}
        {% if expansionset.mkm_id %}<p><strong>MKM ID:</strong>{{ expansionset.mkm_id }}</p>{% endif %}
        {% if expansionset.mkm_name %}<p><strong>MKM Name:</strong>{{ expansionset.mkm_name }}</p>{% endif %}
        {% if expansionset.name %}<p><strong>Name:</strong> {{ expansionset.name }}</p>{% endif %}
        {% if expansionset.old_code %}<p><strong>Old Code:</strong>{{ expansionset.old_code }} </p>{% endif %}
        {% if expansionset.online_only %}<p><strong>Online Only:</strong> {{ expansionset.online_only }}</p>{% endif %}
        {% if expansionset.release_date %}<p><strong>Release Date:</strong> {{ expansionset.release_date }}</p>{% endif %}
        {% if expansionset.slug %}<p><strong>Slug:</strong> {{ expansionset.slug }}</p>{% endif %}
        {% if expansionset.type %}<p><strong>Type:</strong> {{ expansionset.type }}</p>{% endif %}
      </td>
    </tr>
    <tr>
      <td>

        {% for card in set_cards %}
        <p><a href="{% url 'db:card_detail' card_slug=card.slug %}">{{ card }}</a></p>
        {% endfor %}
      </td>
      <td>
        <div id="chart" data-url="{% url 'db:expansionset_chart_data' set_slug=expansionset.slug %}"></div>
        {{ expansionset.slug }}
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
          $.ajax({
            url: $("#chart").attr("data-url"),
            dataType: 'json',
            success: function (data) {
              Highcharts.chart("chart", data);
            }
          });
        </script>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

{% endblock %}
