.pagination {
  display: inline-block;
  position: relative;
  vertical-align: top;
  /* width: auto;
  height: 500px; */
}


.cardDetailContainer {
  width: auto;
  height: 1000px;
}

.cardDetail {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: auto;
  height: 500px;
}

.cardItemTable {
  width: 200px
  position: relative;

}

.cardItem {

}
